USE [master]
GO
/****** Object:  Database [14prLoobchkinGusenkov]    Script Date: 08.02.2026 23:38:45 ******/
CREATE DATABASE [14prLoobchkinGusenkov]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'14prLoobchkinGusenkov', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\14prLoobchkinGusenkov.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'14prLoobchkinGusenkov_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\14prLoobchkinGusenkov_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [14prLoobchkinGusenkov].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [14prLoobchkinGusenkov]
GO
/****** Object:  Table [dbo].[Genres]    Script Date: 08.02.2026 23:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genres](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_Genres] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Halls]    Script Date: 08.02.2026 23:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Halls](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[HallRating] [float] NULL,
	[RowsCount] [int] NULL,
	[SeatsPerRow] [int] NULL,
 CONSTRAINT [PK_Halls] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovieGenres]    Script Date: 08.02.2026 23:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovieGenres](
	[MovieID] [int] NOT NULL,
	[GenreID] [int] NOT NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_MovieGenres] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Movies]    Script Date: 08.02.2026 23:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Movies](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MovieName] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Rating] [float] NULL,
	[AgeRating] [int] NULL,
	[ReleaseDate] [date] NULL,
	[Duration] [int] NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_Movies] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seats]    Script Date: 08.02.2026 23:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seats](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SessionID] [int] NOT NULL,
	[RowNumber] [int] NULL,
	[SeatNumber] [int] NULL,
 CONSTRAINT [PK_Seats] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sessions]    Script Date: 08.02.2026 23:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sessions](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MovieID] [int] NOT NULL,
	[HallID] [int] NOT NULL,
	[StartDateTime] [datetime] NULL,
	[BaseTickerPrice] [money] NULL,
 CONSTRAINT [PK_Sessions] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SessionSeats]    Script Date: 08.02.2026 23:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SessionSeats](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[sessionID] [int] NOT NULL,
	[seatID] [int] NOT NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_SessionSeats] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 08.02.2026 23:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[SeatID] [int] NOT NULL,
	[PurchaseDateTime] [datetime] NULL,
	[FinalPrice] [money] NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tickets] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 08.02.2026 23:38:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Genres] ON 

INSERT [dbo].[Genres] ([ID], [Name]) VALUES (1, N'Боевик')
INSERT [dbo].[Genres] ([ID], [Name]) VALUES (2, N'Комедия')
INSERT [dbo].[Genres] ([ID], [Name]) VALUES (3, N'Драма')
SET IDENTITY_INSERT [dbo].[Genres] OFF
GO
SET IDENTITY_INSERT [dbo].[Halls] ON 

INSERT [dbo].[Halls] ([ID], [Name], [HallRating], [RowsCount], [SeatsPerRow]) VALUES (1, N'SuperHall', 4.8, 10, 10)
INSERT [dbo].[Halls] ([ID], [Name], [HallRating], [RowsCount], [SeatsPerRow]) VALUES (2, N'IMAX Зал', 4.9, 15, 20)
INSERT [dbo].[Halls] ([ID], [Name], [HallRating], [RowsCount], [SeatsPerRow]) VALUES (3, N'VIP Зал', 5, 5, 8)
SET IDENTITY_INSERT [dbo].[Halls] OFF
GO
SET IDENTITY_INSERT [dbo].[MovieGenres] ON 

INSERT [dbo].[MovieGenres] ([MovieID], [GenreID], [ID]) VALUES (1, 2, 1)
INSERT [dbo].[MovieGenres] ([MovieID], [GenreID], [ID]) VALUES (1, 3, 2)
INSERT [dbo].[MovieGenres] ([MovieID], [GenreID], [ID]) VALUES (2, 2, 3)
SET IDENTITY_INSERT [dbo].[MovieGenres] OFF
GO
SET IDENTITY_INSERT [dbo].[Movies] ON 

INSERT [dbo].[Movies] ([ID], [MovieName], [Description], [Rating], [AgeRating], [ReleaseDate], [Duration], [Image]) VALUES (1, N'Рыбалка в Химках', N'Четкая именно', 8.5, 18, CAST(N'2023-09-13' AS Date), 120, N'../Img/Ximki.png')
INSERT [dbo].[Movies] ([ID], [MovieName], [Description], [Rating], [AgeRating], [ReleaseDate], [Duration], [Image]) VALUES (2, N'Озон. Первый миллион', N'Из Балашихи в князи', 10, 6, CAST(N'1991-05-05' AS Date), 120, N'../Img/Ozon.png')
INSERT [dbo].[Movies] ([ID], [MovieName], [Description], [Rating], [AgeRating], [ReleaseDate], [Duration], [Image]) VALUES (3, N'Остроф Эпштейна. Приключение Вавчика', N'Это захватывающая дух история о ровно пацанчике, до разговора с ЖЕНЩИНОЙ', 7.2, 18, CAST(N'2003-09-01' AS Date), 200, N'../Img/Vava.jpg')
SET IDENTITY_INSERT [dbo].[Movies] OFF
GO
SET IDENTITY_INSERT [dbo].[Seats] ON 

INSERT [dbo].[Seats] ([ID], [SessionID], [RowNumber], [SeatNumber]) VALUES (1, 2, 1, 1)
INSERT [dbo].[Seats] ([ID], [SessionID], [RowNumber], [SeatNumber]) VALUES (2, 2, 1, 2)
INSERT [dbo].[Seats] ([ID], [SessionID], [RowNumber], [SeatNumber]) VALUES (3, 2, 1, 3)
GO
SET IDENTITY_INSERT [dbo].[Seats] OFF
GO
SET IDENTITY_INSERT [dbo].[Sessions] ON 

INSERT [dbo].[Sessions] ([ID], [MovieID], [HallID], [StartDateTime], [BaseTickerPrice]) VALUES (2, 2, 1, CAST(N'2026-03-02T00:00:00.000' AS DateTime), 500.0000)
INSERT [dbo].[Sessions] ([ID], [MovieID], [HallID], [StartDateTime], [BaseTickerPrice]) VALUES (3, 6, 2, CAST(N'2026-02-08T10:00:00.000' AS DateTime), 800.0000)
INSERT [dbo].[Sessions] ([ID], [MovieID], [HallID], [StartDateTime], [BaseTickerPrice]) VALUES (4, 7, 5, CAST(N'2026-02-08T13:30:00.000' AS DateTime), 700.0000)
SET IDENTITY_INSERT [dbo].[Sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[SessionSeats] ON 

INSERT [dbo].[SessionSeats] ([ID], [sessionID], [seatID], [Status]) VALUES (1, 2, 1, 0)
INSERT [dbo].[SessionSeats] ([ID], [sessionID], [seatID], [Status]) VALUES (2, 2, 2, 1)
INSERT [dbo].[SessionSeats] ([ID], [sessionID], [seatID], [Status]) VALUES (3, 2, 3, 0)
GO
SET IDENTITY_INSERT [dbo].[SessionSeats] OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([ID], [UserID], [SeatID], [PurchaseDateTime], [FinalPrice], [Status]) VALUES (1, 1017, 2, CAST(N'2026-02-07T22:08:31.020' AS DateTime), 450.0000, N'Оплачен')
INSERT [dbo].[Tickets] ([ID], [UserID], [SeatID], [PurchaseDateTime], [FinalPrice], [Status]) VALUES (2, 8, 7, CAST(N'2026-02-06T22:08:31.020' AS DateTime), 495.0000, N'Оплачен')
INSERT [dbo].[Tickets] ([ID], [UserID], [SeatID], [PurchaseDateTime], [FinalPrice], [Status]) VALUES (3, 1011, 23, CAST(N'2026-02-06T19:08:31.020' AS DateTime), 540.0000, N'Оплачен')
GO
SET IDENTITY_INSERT [dbo].[Tickets] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([ID], [Login], [Password], [CreatedAt]) VALUES (7, N'vava123', N'123', CAST(N'2020-02-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Users] ([ID], [Login], [Password], [CreatedAt]) VALUES (8, N'123', N'123', CAST(N'2026-01-28T21:43:21.837' AS DateTime))
INSERT [dbo].[Users] ([ID], [Login], [Password], [CreatedAt]) VALUES (1007, N'voodeex', N'123', CAST(N'2026-02-02T18:59:41.703' AS DateTime))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[MovieGenres]  WITH NOCHECK ADD  CONSTRAINT [FK_MovieGenres_Genres] FOREIGN KEY([GenreID])
REFERENCES [dbo].[Genres] ([ID])
GO
ALTER TABLE [dbo].[MovieGenres] CHECK CONSTRAINT [FK_MovieGenres_Genres]
GO
ALTER TABLE [dbo].[MovieGenres]  WITH NOCHECK ADD  CONSTRAINT [FK_MovieGenres_Movies] FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([ID])
GO
ALTER TABLE [dbo].[MovieGenres] CHECK CONSTRAINT [FK_MovieGenres_Movies]
GO
ALTER TABLE [dbo].[Sessions]  WITH NOCHECK ADD  CONSTRAINT [FK_Sessions_Halls] FOREIGN KEY([HallID])
REFERENCES [dbo].[Halls] ([ID])
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_Halls]
GO
ALTER TABLE [dbo].[Sessions]  WITH NOCHECK ADD  CONSTRAINT [FK_Sessions_Movies] FOREIGN KEY([MovieID])
REFERENCES [dbo].[Movies] ([ID])
GO
ALTER TABLE [dbo].[Sessions] CHECK CONSTRAINT [FK_Sessions_Movies]
GO
ALTER TABLE [dbo].[SessionSeats]  WITH NOCHECK ADD  CONSTRAINT [FK_SessionSeats_Seats] FOREIGN KEY([seatID])
REFERENCES [dbo].[Seats] ([ID])
GO
ALTER TABLE [dbo].[SessionSeats] CHECK CONSTRAINT [FK_SessionSeats_Seats]
GO
ALTER TABLE [dbo].[SessionSeats]  WITH NOCHECK ADD  CONSTRAINT [FK_SessionSeats_Sessions] FOREIGN KEY([sessionID])
REFERENCES [dbo].[Sessions] ([ID])
GO
ALTER TABLE [dbo].[SessionSeats] CHECK CONSTRAINT [FK_SessionSeats_Sessions]
GO
ALTER TABLE [dbo].[Tickets]  WITH NOCHECK ADD  CONSTRAINT [FK_Tickets_Seats] FOREIGN KEY([SeatID])
REFERENCES [dbo].[Seats] ([ID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Seats]
GO
ALTER TABLE [dbo].[Tickets]  WITH NOCHECK ADD  CONSTRAINT [FK_Tickets_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([ID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK_Tickets_Users]
GO
USE [master]
GO
